<form action="quizes" method="GET">
    <label for="search">Texto a buscar</label>
    <input type="text" id="search" name="search"/>
    <button type="submit">Buscar</button>
</form>
<% if(quizes.length > 0){ %>
<table>
    <% var i; for(i=0; i < quizes.length; i++) {  %>
    <tr>
        <td><%= quizes[i].tema %>:</td>
        <td><a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td>
        <td><a href="quizes/<%= quizes[i].id %>/edit"><button>Editar</button></a></td>
        <td>
            <form method="post" action="quizes/<%= quizes[i].id %>?_method=delete">
                <button type="submit" onclick="return confirm('Borrar: <%= quizes[i].pregunta %> ?')">Borrar</button>
            </form>
        </td>
    </tr>
    <% } %>
</table>
<% } else { %>
<div>
    <h3>No se ha encontrado ninguna pregunta con ese texto</h3>
</div>
<% } %>
<div>
    <h4><a href="quizes/new">Crear nueva pregunta</a></h4>
</div>