<table>
    <tr>
        <td>Número de preguntas</td>
        <td><%=statistics.numPreguntas%></td>
        <td>
            <table>
            </table>
        </td>
    </tr>
    <tr>
        <td>Preguntas con comentarios</td>
        <td><%=statistics.numPreguntasConComments%></td>
    </tr>
    <tr>
        <td>Preguntas sin comentarios</td>
        <td><%=statistics.numPreguntasSinComments%></td>
    </tr>
    <tr>
        <td>Cantidad total de comentarios</td>
        <td><%=statistics.numComments%></td>
    </tr>
    <tr>
        <td>Media de comentarios por pregunta</td>
        <td><%=statistics.mediaComments%></td>
    </tr>
</table>